<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form th:action="@{/fabricante/borrar/__${fabricante.id}__}" method="post">

        <input hidden th:value="${id}" name="id">

        <div>

            <label class="mb-2">Borrar Fabricante</label>
            <label th:text="${fabricante.nombre}" name="nombre"></label>
        </div>
        <div>
            <button type="submit">Borrar</button>
        </div>

    </form>
</body>

</html>