<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Fabricantes</title>
</head>

<body>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Id del Producto</th>
                <th scope="col">Nombre del Porducto</th>
                <th scope="col">Cantidad de Porductos</th>
                <th scope="col">Tipo del Porducto</th>
                <th scope="col">Fabricante del Porducto</th>
            </tr>
        </thead>
        <tbody th:each="listaProductos : ${listaProductos}">
            <tr>
                <th scope="row" th:text="${listaProductos.id}"></th>
                <td th:text="${listaProductos.nombre}"></td>
                <td th:text="${listaProductos.cantidad}"></td>
                <td th:text="${listaProductos.tipo}"></td>
                <td th:text="${listaProductos.fabricante.nombre}"></td>
                <td>
                    <a th:href="@{/producto/corregir/__${listaProductos.id}__}"><i class="fas fa-feather-alt">
                        </i>Modificar
                    </a>
                    <a th:href="@{/producto/borrarProducto/__${listaProductos.id}__}"><i class="fas fa-feather-alt">
                        </i>Borrar
                    </a>
                </td>

            </tr>

        </tbody>
    </table>
</body>

</html>